<li class="p-2">{{comment}} <h6 class="fst-italic fw-lighter p-2">Posted by {{user.username}} on
        {{#if updatedAt}}
        {{formatDate updatedAt}}
        {{else}}
        {{formatDate createdAt}}
        {{/if}}
    </h6>
</li>