
    <div class="container-fluid p-2 m-2 d-flex flex-column align-self-center">

        {{#if posts}}
        {{#each posts}}
        <div class="container d-flex">
            <div class="row col-12 border border-dark">
                <div class="col-12 p-2 text-white bg-dark d-flex justify-content-between align-items-baseline">
                    <a class="fw-lighter p-2 text-white" href="/posts/{{id}}">{{post_title}}</a>
                    <h6 class="fst-italic fw-lighter p-2">Posted by {{user.username}} on {{formatDate createdAt}}</h6>
                </div>
                <div class="col-12 p-2 justify-content-center">{{post_contents}}</div>
            </div>
        </div>

        <div class="container d-flex">
            <div class="row p-2">
                <div class="col-12 p-2 justify-content-center">
                    <h6 class="fw-lighter fst-italic">Post: <b>{{post_title}}</b> has {{comments.length}} comment(s)</h6>
                </div>
            </div>
        </div>

        {{/each}}
        {{/if}}

        {{#unless posts}}

          <div class="container-fluid p-2 m-2 d-flex justify-content-center">
            <div class="row border border-dark">
                <div class="col-12 p-2 text-white bg-dark">
                    <h5 class="fw-lighter p-2 text-center">Welcome to the TECH BLOG PAGE</h5>
                </div>
                <div class="col-12 p-2 text-center">No post posts to display at the moment. To create a new post post, login or signup.</div>
            </div>
        </div>

         {{/unless}}

    </div>
